.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #bbd0ff;
  overflow: auto;
}
.skills-area {
  background: #cef4ff;
  width: 95%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0;
  max-height: 75%;
  min-height: 0;
  flex: 1 1 auto;
  padding: 10px;
}
.skill-ttl {
  font-size: 2.3vw;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
    text-align: center;
    text-shadow: 0 0 3px black;
    color:white;
    font-family: 'Silkscreen';
}

#skills-container{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
}
.skills-row {
  margin: 10px 0;
  padding: 0;
  text-align: center;
}

.skills-row li {
  display: inline-block;
  list-style: none;
  margin: 10px;
  border-radius: 2em;
  overflow: hidden;
  box-shadow: -5px -5px 15px rgba(236, 252, 255, 0.8),
    5px 5px 15px rgba(138, 157, 197, 0.5),
    inset -5px -5px 15px rgba(236, 252, 255, 0.8),
    inset 5px 5px 15px rgba(138, 157, 197, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

#skills-container li .skilly {
  display: flex;
  align-items: center;
  max-width: 5vmin;
  max-height: 5vmin;
  height: 5vmin;
  white-space: nowrap;
  transition: 0.5s ease-in;
  color: black;
  font-size: 13px;
}

#skills-container li img {
  margin-right: 0.5em;
  width: 5vh;
  height: 5vh;
  border-radius: 100%;
  background: white;
}

#skills-container li:hover .skilly {
  max-width: 16vmin;
  padding-right: 1em;
}

.todo {
  border-radius: 20px 20px 0 0;
  max-height: 50px;
  overflow: hidden;
  margin: 0;
  flex-shrink: 0;
  transition: max-height 0.2s linear;
  width: 100%;
}

.todo.open {
  max-height: 100%;
  flex-grow: 1;
  margin-top: -20px;
}
 
.todo_expand {
  background-color: #9381ff;
  color: #fff;
  cursor: url("../media/cursor_big.png"), auto !important;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  height: 50px;
} 

.active,
.todo_expand:hover {
  background-color: #c8b6ff;
  color: black;
}

.todo_content {
  background-color: #f2f7ff;
  height: 100%;
  transform-origin: bottom;
  color: black;
}

.todo_info {
  background: #ffce74;
  color: black;
  padding: 10px;
  font-size: 12px;
  text-align: justify;
  height: 80px;
  max-width: 100%;
  margin-top: 0;
  overflow: hidden;
  border-radius: 0 0 20px 20px;
}


.yes {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 70%;
    gap: 30px;
    margin: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 0;
}
